/*pagebubblewrapper {
	display: none;
	position: absolute;
	z-index: 2147483647;
}

pagebubblelikebtn, pagebubbledislikebtn {
	cursor: pointer;
	display: block;
	height: 32px;
	position: absolute;
	width: 32px;
}

pagebubblelikebtn {
	left: -32px;
	top: -12px;
}

pagebubbledislikebtn {
	right: -32px;
	top: -4px;
}*/

pagebubblewrapper {
	background-color: rgba(255, 255, 255, 0.5);
	left: 0;
	min-height: 100%;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2147483646;
}

pagebubblewrapper.opaque {
	pointer-events: all;
}

pagebubblestatuspanel {
	-webkit-box-shadow:2px 2px 6px 0px rgba(0, 0, 0, 0.5);
	background: -webkit-linear-gradient(top, #d9afd5 0%,#343ec5 100%);
	border: 1px solid #999;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: none;
	color:#fff;
	direction: ltr;
	display: block;
	height: 52px;
	left: 50%;
	margin-left: -350px;
	pointer-events: all;
	position: fixed;
	text-align: left;
	top: 0;
	width: 700px;
	z-index: 2147483647;
}

pagebubblestatusclosebutton {
    background: no-repeat center center url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AMGCBoS9dxOBQAAAC1QTFRFysrK////////////////////////////////////////////////////////B2W/qwAAAA50Uk5TAAABBAwPKoDDxs3n6OvcbSkCAAAAAWJLR0QOb70wTwAAAFVJREFUCNdjEIQCBmwMZQYGIxBDqMKBpV0RyBDd1+LxOhDIEMh+OW8bI4jBdu5NApjBsu6VA5jh8fZeC4gh3Lct+4UhSHt1Att2kHZBVQaGIBx2QQAAsrMYC1O8cuMAAAAASUVORK5CYII=");
    cursor: pointer !important;
	float: right;
    height: 25px;
    margin: 13px 4px 4px 0px;
    width: 20px;
}

pagebubblelogo {
	border-radius: 0px 0px 0px 4px;
	display: inline-block;
	height: 48px;
	margin: 2px;
	width: 48px;
}

pagebubbledemibubble {
	background: white;
	border: 2px ridge orange;
	border-radius: 8px;
	direction: ltr;
	padding: 12px;
	position: absolute;
}

textarea {
	-webkit-box-shadow: none !important;
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	direction: ltr !important;
	outline: none !important;
	overflow: hidden !important;
	pointer-events: all !important;
	resize: none !important;
}

/*pagebubbleforeground {
	background-color: rgba(0, 255, 255, 0.5);
	display: none;
	pointer-events: none;
	position: absolute;
	z-index: 2147483646;
}

a[data-pagebubble-after-text]:after {
	background: rgba(255, 255, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	color: black;
	content: attr(data-pagebubble-after-text);
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 16px;
	margin: -8px 0 0 2px;
	padding: 2px;
	position: absolute;
	text-align: center;
	width: 16px;
}*/