pagebubblewrapper {
	display: none;
	position: absolute;
	z-index: 2147483647;
}

pagebubblelikebtn, pagebubbledislikebtn {
	cursor: pointer;
	display: block;
	height: 32px;
	position: absolute;
	width: 32px;
}

pagebubblelikebtn {
	left: -32px;
	top: -12px;
}

pagebubbledislikebtn {
	right: -32px;
	top: -4px;
}

pagebubblebackground {
	background-color: rgba(127, 127, 127, 0.5);
	height: 100%;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2147483646;
}

pagebubbleforeground {
	background-color: rgba(0, 255, 255, 0.5);
	display: none;
	pointer-events: none;
	position: absolute;
	z-index: 2147483646;
}

a[data-pagebubble-after-text]:after {
	background: rgba(255, 255, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	color: black;
	content: attr(data-pagebubble-after-text);
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 16px;
	margin: -8px 0 0 2px;
	padding: 2px;
	position: absolute;
	text-align: center;
	width: 16px;
}