pagebubblewrapper {
	display: none;
	position: absolute;
	z-index: 2147483647;
}

pagebubblelikebtn, pagebubbledislikebtn {
	display: block;
	height: 32px;
	position: absolute;
	width: 32px;
}

pagebubblelikebtn {
	left: -32px;
	top: -12px;
}

pagebubbledislikebtn {
	right: -32px;
	top: -4px;
}